.back__button {
  padding: 20px 50px;
  border: none;
  margin-right: 41px;
  background-color: #efefef;
  cursor: pointer;
  border-radius: 9999px;
  font-size: 15.4px; /* on Big 22px*/
  transition: 0.3s;
}

.next__button {
  padding: 20px 50px;
  border: none;
  background: linear-gradient(111deg, #4734e1, #8e27ea);
  color: white;
  cursor: pointer;
  border-radius: 9999px;
  font-size: 15.4px; /* on Big 22px*/
  transition: 0.3s;
}

.back__button:hover,
.next__button:hover {
  transform: scale(1.1);
}

@media (max-width: 769px) {
  .back__button {
    background-color: transparent;
    text-decoration: underline;
    padding: 0px;
  }
}
