form{
    width: 100%;
}
.form__header{
    margin-bottom: 55px;
    display: flex;
    justify-content: center;
    font-size: 35px;/* change in big screen to 46*/
}
.input__form__row{
    width: 100%;
    height: 50px;/*change in big screen to 76px*/
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.text__form__row{
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    padding-left: 8px;
    font-size: 18px;/*change in big screen to 26*/
}
.input__form__column{
    flex: 0.5;
    height: 100%;
    position: relative;
}

.text__input{
    height: 100%;
    width: 95%;
    padding: 20px;
    background-color: #EFEFEF;
    border: none;
}
/* .input__form__column span{
    display: none;
   
} */
.input__form__column span{
    position: absolute;
    color: #4B33E1;
    left: 25px;
    top:2px;
    font-size: 0.8rem;
}
.input__form__column .text__input:focus {
    outline: 1px solid #4B33E1;
    /* display: block; */
}
#gender__select__title{
    font-size: 14px;/*change in big screen to 18*/

}
#gender__select__column{
    padding-left:5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.gender__radio__input{
 cursor: pointer;
}
#female-radio{
    margin-left: 26px;
    

}

.radio{
    cursor: pointer;
    font-size: 14px;/*change in big screen to 18*/
    /* font-size: 15px; */
}

#form__button__container{
    display: flex;
    justify-content: flex-end;
    padding-right: 8px;
}
.signup__button{
    background: linear-gradient(138deg , #4734E1, #8E27EA );
    color: white;
    width: 170px;    /*on big screen 270px;*/
    height: 60px;      /*on big screen 75px*/
    border:none;
    border-radius: 9999px;
    font-size: 16px;/*on big 22px*/
}




